{% load staticfiles %}
{% load  filters %}
<!DOCTYPE html>
<html>
    <head>
        <title>SaveYourPage</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light&v1' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">

        <!-- Global CSS for the page and tiles -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- Specific CSS for the tiles -->
        <link rel="stylesheet" href="{% static 'css/wookmark_style.css' %}">
    </head>
    <body>
        <header>
                <form action="/add_page/" id="url" method="get">{% csrf_token %}
                    <input type="text" name="url" value="Paste your link here...">
                    <div id="styled_select">
                        <select name="category">
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit"></button>
                </form>

            <div id="logo">
{#                <strong>save</strong> your page#}
            </div>
            <div id="search">

                <input type="text" value="Search...">
                <button id="search_button" type="button" >
                <!--<button id="search_button" type="button">-->
                </button>
            </div>
        </header>
        <nav>

            <a href=""><div id="archive">Categories
            </div></a>


            <a href=""><div id="profile">Settings</div></a>
            <div id="folders">About Us</div>
            <div id="space" ></div>

            <div id="gopro">Donate
            </div>
            <div style="width:100%; height: 100%; background-color: #464950;">
            </div>
        </nav>
        <div id="settings_div">
            <div id="settings_header"><strong>folder</strong> editor</div>
            <div>
                <button>add a folder</button>
                <button id='rename' disabled>rename</button>
                <button id="delete" disabled>delete</button>
                <button id='sign_out'>sign out</button>
            </div>

            {% for cat in categories %}
            <div>
            <input type="checkbox" class="radio" name="category" id="{{ cat.id }}" value="{{ cat.name }}">
                <label for='{{ cat.id }}'>{{ cat.name }} </label></br>

            </div>
            {% endfor %}


        <div class="arrow">&#0123;</div>
        <a id='save' href="/">
            <button id='savechanges'>save changes</button>
        </a>
{#            <div id='dim_backgorund'></div>#}
        </div>

        <div id="categories_div">
            <div id="category_items">
            <div class="item" id="all">all </div>
            {% for cat in categories %}
                <div class="item" data-filter="{{ cat.name}}">{{ cat.name }}</div>
            {% endfor %}
              </div>


{#            <div id="categories_arrow">&#0123;</div>#}
        </div>
        <div id="page-cover"></div>

        <br/>

        <div id="main" role="main">

            <ul id="tiles">
                <!--
                  These are our grid items. Notice how each one has classes assigned that
                  are used for filtering. The classes match the "data-filter" properties above.
                  -->
                {% for page in pages %}
                <li data-filter-class='["{{ page.category }}"]' id="{{ page.page_id }}">
                <div class="image">
                    <img src="{% static 'images/'%}{{ user_id }}/{{ page.image }}" width="300">
                </div>
                    <p class="title">{{ page.title }}</p>
                    <p>{{ page.category }}</p>
                    <div class="controls">
                        <a target="_blank" href="{{ page.url }}"><div class='link'></div></a>
                        <div class="remove"></div>
                    </div>
                </li>
                {% endfor %}
                </li>
                <!-- End of grid blocks -->
            </ul>

        </div>
        </div>

        <!-- include jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Include the imagesLoaded plug-in -->
        <script src="{% static 'js/jquery.imagesloaded.js' %}"></script>

        <!-- Include the plug-in -->
        <script src="{% static 'js/jquery.wookmark.js' %}"></script>

        <!-- Once the page is loaded, initalize the plug-in. -->
        <script type="text/javascript">
            (function ($){
                $('#tiles').imagesLoaded(function() {
                    // Prepare layout options.
                    var options = {
                        autoResize: true, // This will auto-update the layout when the browser window is resized.
                        container: $('#main'), // Optional, used for some extra CSS styling
                        offset: 20, // Optional, the distance between grid items
                        itemWidth: 310, // Optional, the width of a grid item
                        fillEmptySpace: true // Optional, fill the bottom of each column with widths of flexible height
                    };

                    // Get a reference to your grid items.
                    var handler = $('#tiles li'),
                            filters = $('#category_items div');

                    // Call the layout function.
                    handler.wookmark(options);

                    /**
                     * When a filter is clicked, toggle it's active state and refresh.
                     */
                    var onClickFilter = function(event) {
                        $("#page-cover").css("opacity",0).fadeIn(300, function () {
                             if($('#categories_div').css('top')=='86px'){
                                $('#categories_div').css({'top': '-450px','z-index':9999});
                             }
                         }).css({'display':'none'});
                        var item = $(event.currentTarget),
                                activeFilters = [];

                        if (!item.hasClass('active')) {
                            filters.removeClass('active');
                        }
                        item.toggleClass('active');

                        // Filter by the currently selected filter
                        if (item.hasClass('active')) {
                            activeFilters.push(item.data('filter'));
                        }
                        console.log(activeFilters)
                        handler.wookmarkInstance.filter(activeFilters);
                    }

                    // Capture filter click events.
                    filters.click(onClickFilter);
                    // Capture scroll event.
                });
                $('input[type="checkbox"]').click(function(){
                    if ($('input[type="checkbox"]:checked').length==1){
                        $('#rename').removeAttr('disabled');
                        $('#delete').removeAttr('disabled');
                    }
                    else if (($('input[type="checkbox"]:checked').length>1)){
                        $('#delete').removeAttr('disabled');
                        $('#rename').attr('disabled','disabled');
                    }
                    else{
                        $('#rename').attr('disabled','disabled');
                        $('#delete').attr('disabled','disabled');
                    }
                })
                $('#delete').click(function(){
                    var values = $('input:checkbox:checked').map(function () {
                      return this.id;
                    }).get()

                    for (var i= 0; i<values.length; i++)
                    {
                        $('#'+values[i]).parent('div').remove()
                        $.ajax({
                          url: '/delete_category',
                          data: 'id='+values[i],
                          success: function(){console.log('deleted')},
                          type: 'get'
                        });

                    }

                })
            })(jQuery);
            $(window).load(function(e){
              $('#archive').on('click',function(e){
                 $("#page-cover").css("opacity",0.6).fadeIn(300, function () {
                    $('#categories_div').css({'top': '86px','z-index':9999});
                 });
               e.preventDefault();
               });

                $('#profile').on('click',function(e){
                 $("#page-cover").css("opacity",0.6).fadeIn(300, function () {
                    $('#settings_div').css({'top': '86px','z-index':9999});
                 });
               e.preventDefault();
               });


              $('#page-cover').on('click',function(e){
                 $("#page-cover").css("opacity",0).fadeIn(300, function () {
                     if($('#categories_div').css('top')=='86px'){
                        $('#categories_div').css({'top': '-450px','z-index':9999});
                     }
                     if($('#settings_div').css('top')=='86px'){
                        $('#settings_div').css({'top': '-450px','z-index':9999});
                     }
                 }).css({'display':'none'});
               e.preventDefault();
               });
            });

            $('#all').click(function(){
            })

            $('#url input').focus(function() {
              $( this ).val( "" );
            });

            $('#url input').focusout(function() {
                console.log($('#url input').text())
              if($('#url input[type=text]').val() == ""){
                $( this ).val( "Paste your link here..." );
              }
            });

            $('#tiles .remove').click(function(){
                element = $(this.parentNode.parentNode)
                console.log(element.attr('id'))
                element.remove()
                $.ajax({
                    method:'GET',
                    url:"/delete_page/",
                    data:"id="+element.attr('id')
                })
            })

            $('#tiles li').click(function(){
                element = $(this)
                url = element.children('.controls').children('a').attr('href')
                window.open(url,'_blank');
            })


        </script>
    </body>
</html>